<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <!--<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>-->
    <!--<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />


    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: aliceblue;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: right;
            color: #f2f2f2;
            text-align: center;
            padding: 34px 70px 30px;
            text-decoration: none;
            font-size: 20px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
            height: 30px;
        }

        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }
        .topnav #name {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #dddddd;
            font-size: 30px;
            float: left;
            padding-left: 25px;
            padding-top: 25px;
        }

        input[type=text], input[type=number] {
            width: 90%;
            padding: 15px;
            margin: 5px 5px 22px 15px;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }
        label {
            margin-left: 15px;
        }

        input[type=text]:focus, input[type=number]:focus {
            background-color: #ddd;
            outline: none;

        }

        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        #seeLocationBtn, #bookBtn {

            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            width: 100px;
            opacity: 0.9;
        }

        #seeLocationBtn, #bookBtn :hover {
            opacity: 1;
        }
        .addbtn {
            float: left;
            width: 50%;
        }
        .hotelAdd {
            width: 700px;
        }
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
        #map {
            width: 900px;
            height: 700px;
            float:right;
        }
        .card{
            float:left;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="topnav">
        <p id="name">Travel Activity Tracker</p>
        <a href="#logout">Logout</a>
    </div>
    <div id='map'></div>
    <div class="card" id="cardId">
        <div class="card-block">
            <table class="table table-hover">
                <thread>
                    <tr>
                        <th>Hotel name</th>
                        <th>Hotel description</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                    </tr>
                </thread>
                <tbody>
                <form th:action="@{/save1}" method="get">
                <tr th:each="hotel:${data}">
                    <td th:name="'hotelName-'+ ${hotel.id}" th:text="${hotel.hotelName}"></td>
                    <td th:name="'hotelDescription-'+ ${hotel.id}" th:text="${hotel.hotelDescription}"></td>
                    <td th:name="'hotelLongitude-'+ ${hotel.id}" th:text="${hotel.longitude}"></td>
                    <td th:name="'hotelLatitude-'+ ${hotel.id}" th:text="${hotel.latitude}"></td>
                    <input th:id="${hotel.id}"  style="display: none"/>
                    <input th:id="${user.id}" class="userID"  style="display: none"/>
                    <td><input type="button" id="seeLocationBtn" th:onclick="'BtnOnClick('+${hotel.longitude}+','+${hotel.longitude}+  ',' +${user.longitude}+','+${user.latitude}+ ','+${hotel.id}+  ')'" value="See location" /></td>
                    <td><input type="button" th:id="'bookBtn' + ${hotel.id}" value="Book a hotel" th:onclick="'BookAHotel('+${hotel.longitude}+','+${hotel.latitude} + ',' +${user.longitude}+','+${user.latitude}+ ',' + ${user.id} + ',' + ${hotel.id} +  ')'" data-toggle="modal" data-target="#exampleModalCenter" /></td>
                </tr>
                </form>

                </tbody>
            </table>
        </div>

    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Book  hotel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <p id="bookParagraph">You have successfully booked a hotel</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="closeBtn" class="btn btn-primary" onclick=SeeRoute() data-dismiss="modal">See route</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var nameHotel;
    var long = 18.154784;
    var latit = 43.12487;
    var Ulong = 18.154784;
    var Ulat = 43.12487;
    var User;

   $(document).ready(function() {
        $.ajax({
            type: 'GET',
            url: 'http://localhost:8081/save11',
            success: function (data) {
                SetValues(data)
                console.log(data);
            },
            error: function (request, status, error) {
                console.log("error");
            }
        });
    });
    function SetValues(data)
    {
        data.forEach(function(reservation)
        {
            var idUser = reservation.user.id;
            var reserve = reservation.hotel.id;
            User = idUser;
            var panelUserId = document.getElementsByClassName("userID");
            User = panelUserId[0].id;
            console.log(User);
            if(idUser == User) {
                console.log(reserve);
                if (typeof(document.getElementById(reserve)) != "undefined" && document.getElementById(reserve) != null) {
                    console.log("tu");
                    var idBtn = "bookBtn" + reserve;
                    console.log(idBtn);
                    var ifBooked = reservation.booked;
                    var btn = document.getElementById(idBtn);
                    console.log(btn.id);
                    btn.value = ifBooked;
                }
            }


           /* var btn = document.getElementById("bookBtn" + hotel.id);
            btn.value = "Booked";*/
        })


    }
    // Create Map

    mapboxgl.accessToken = 'pk.eyJ1IjoiYW9tZXJvdmljIiwiYSI6ImNqanBnaG1oajA0ZjUzcHFkOGNsemF0YzAifQ.I4bEhIYDrJJCQE8QNAJCMA';
    /*console.log("hocemo li ikad");
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: [long, lat],
        zoom: 3
    });*/
    L.mapbox.accessToken = mapboxgl.accessToken;
    var map = L.mapbox.map('map', 'mapbox.streets').setView([43.8563, 18.4131], 10);

    // Book a hotel
    function BookAHotel(longitude, latitude, UserLong, UserLat, userId, hotelId)
    {

        document.getElementById("bookParagraph").innerHTML = "Successfully booked a hotel";
        var b = document.getElementById("closeBtn");
        b.style.display = "block";

        console.log(document.getElementById("bookBtn"+hotelId).value);
        console.log(hotelId);
        if(document.getElementById("bookBtn"+hotelId).value == "Booked")
        {
            document.getElementById("bookParagraph").innerHTML = "You've already booked this hotel";
            var b = document.getElementById("closeBtn");
            b.style.display = "none";
            //alert("Already booked");
            return;
        }
        Ulong = UserLong;
        Ulat = UserLat;
       /* var btn = document.getElementById('bookBtn');
        btn.value = "Booked";*/
        var nameH = "hotelName-" + hotelId;
        var descr = "hotelDescription-"+ hotelId;
        var longi = "hotelLongitude-"+ hotelId;
        var lati = "hotelLatitude-"+ hotelId;
        var hotelName = $("td[name=" +nameH + "]").text();
        nameHotel = hotelName;

        long = longitude;
        latit = latitude;

        map.flyTo({
            center: [long, latit],
            zoom: 1
        })
        var name = $("td[name=" + nameH + "]").text();
        var description = $("td[name=" + descr + "]").text();
        var latitude = $("td[name=" + longi + "]").text();
        var longitude = $("td[name=" + lati + "]").text();


        var reservation = {
            hotel:
                {
                    id: hotelId
                },
            user:
                {
                    id: userId
                }
        };

        firstAjaxCall(reservation);
       // secondAjaxCall();


    }
    function firstAjaxCall(reservation)
    {
        $.ajax({
            type: 'POST',
            url: 'http://localhost:8081/save',
            contentType: "application/json",
            data: JSON.stringify(reservation),
            success: function (msg) {
                secondAjaxCall();

            },
            error: function (request, status, error) {
                console.log("error");
            }
        });

    }
    function secondAjaxCall()
    {
        $.ajax({
            type: 'GET',
            url: 'http://localhost:8081/save11',
            success: function (data) {
                SetValues(data)

            },
            error: function (request, status, error) {
                console.log("error");
            }
        });

    }


    // See route
    function SeeRoute()
    {
      /*  var R = 6371e3; // metres
        var φ1 = lat.toRadians();
        var φ2 = Ulat.toRadians();
        var Δφ = (Ulat-lat).toRadians();
        var Δλ = (Ulong-long).toRadians();

        var a = Math.sin(Δφ/2) * Math.sin(Δφ/2) +
            Math.cos(φ1) * Math.cos(φ2) *
            Math.sin(Δλ/2) * Math.sin(Δλ/2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));

        var d = R * c;

        if(d < 10000)
*/
        var routee;
        routee = "route" + Math.floor(Math.random()*100);
        console.log(long);
       // console.log(lat);
        var rand = Math.floor(Math.random()*100);
        var randString = rand.toString();
        //var start = [18.417221, 43.858922];
        var start = [long, latit];
      //  var end = [18.417228, 43.858922];
        var end = [Ulong, Ulat];
        var directionsRequest = 'https://api.mapbox.com/directions/v5/mapbox/cycling/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;
        console.log("asdfg");
        $.ajax({
            method: 'GET',
            url: directionsRequest,
        }).done(function (data) {
            var route = data.routes[0].geometry;
            map.addLayer({
                id: routee,
                type: 'line',
                source: {
                    type: 'geojson',
                    data: {
                        type: 'Feature',
                        geometry: route
                    }
                },
                paint: {
                    'line-width': 2
                }
            });
            map.addLayer({
                /* id: 'start',
            type: 'circle',
            source: {
                type: 'geojson',
                data: {
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: start
                    },
                    properties: {
                        'marker-color': '#3bb2d0',
                        'marker-size': 'large',
                        'marker-symbol': 'rocket'
                    }
                },
            }*/
                "id": randString ,
                "type": "symbol",
                "source": {
                    "type": "geojson",
                    "data": {
                        "type": "FeatureCollection",
                        "features": [{
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": start
                            },
                            "properties": {
                                "title": nameHotel,
                                "icon": "airport"
                            }
                        }, {
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": end
                            },
                            "properties": {
                                "title": "Your location",
                                "icon": "airport"
                            }
                        }]
                    }
                },
                "layout": {
                    "icon-image": "{icon}-15",
                    "text-field": "{title}",
                    "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
                    "text-offset": [0, 0.6],
                    "text-anchor": "top"
                }
            });
        });
    }

    // See location of a hotel
    function BtnOnClick(longitude,latitude,UserLong, UserLat, hotelId)
    {
        var nameH = "hotelName-" + hotelId;
        //  console.log(nameH);
        var hotelName = $("td[name=" +nameH + "]").text();
        console.log(hotelName);
        clicked = 1;
        var rand = Math.floor(Math.random()*100);
        var randString = rand.toString();
        long = longitude;
        latit = latitude;


        var geoUser = [];
        var geoHotel = [];
        var start = new L.LatLng(longitude, latitude);
        console.log("start", start);

        var end = new L.LatLng(UserLong,UserLat);
        console.log("end", end);
       // var randomColor = getRandomColor();
        L.marker([UserLong, UserLat]).addTo(map);
      //  var list = [start, end];
       // var polyline = L.polyline(list, {color: "#911818"}).addTo(map);
       // map.fitBounds(polyline.getBounds());
       var point1 = {
            "type": 'Feature',
            "geometry": {
                "type": 'Point',
                "coordinates": start
            },
            "properties": {
                'marker-color': "#1bb398",
                'marker-size': 'large',
                'marker-symbom': 'marker'
            }
        };
        geoUser.push(point1);
        var point2 = {
            "type": 'Feature',
            "geometry": {
                "type": 'Point',
                "coordinates": end
            },
            "properties": {
                'icon': {
                    'className': 'my-icon icon-dc',
                    'html': '&#9733;',
                    'iconSize': null
                }
            }
        };
        geoHotel.push(point2);
        var layer1 = L.mapbox.featureLayer().addTo(map);
        var layer2 = L.mapbox.featureLayer().setGeoJSON(geoUser).addTo(map);
        layer2.setGeoJSON(geoUser);
        console.log(latit);
       L.map.flyTo([long,latit], 3, {duration:0.8});
     // map.setCenter([long,latit]);
     //   map.addLayer({
            /* id: 'start',
        type: 'circle',
        source: {
            type: 'geojson',
            data: {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: start
                },
                properties: {
                    'marker-color': '#3bb2d0',
                    'marker-size': 'large',
                    'marker-symbol': 'rocket'
                }
            },
        }*/
          /*  "id": randString ,
            "type": "symbol",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "FeatureCollection",
                    "features": [{
                        "type": "Feature",
                        "geometry": {
                            "type": "Point",
                            "coordinates": start
                        },
                        "properties": {
                            "title": hotelName,
                            "icon": "airport"
                        }
                    }, {
                        "type": "Feature",
                        "geometry": {
                            "type": "Point",
                            "coordinates": end
                        },
                        "properties": {
                            "title": "Your location",
                            "icon": "airport"
                        }
                    }]
                }
            },
            "layout": {
                "icon-image": "{icon}-15",
                "text-field": "{title}",
                "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
                "text-offset": [0, 0.6],
                "text-anchor": "top"
            }
        });*/
       /* map.flyTo({
            center: [long, lat],
            zoom: 6   // 22.5 is greater than the default maxZoom of 20
        })*/
        /*  console.log("abcd");
          //var start = [18.417221, 43.858922];
          var start = [longitude, latitude];
        //  var end = [18.417228, 43.858922];
          var directionsRequest = 'https://api.mapbox.com/directions/v5/mapbox/cycling/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;
          console.log("asdfg");
          $.ajax({
              method: 'GET',
              url: directionsRequest,
          }).done(function (data) {
              var route = data.routes[0].geometry;
              map.addLayer({
                  id: 'route',
                  type: 'line',
                  source: {
                      type: 'geojson',
                      data: {
                          type: 'Feature',
                          geometry: route
                      }
                  },
                  paint: {
                      'line-width': 2
                  }
              });*/
        /* map.addLayer({
             id: 'start',
             type: 'circle',
             source: {
                 type: 'geojson',
                 data: {
                     type: 'Feature',
                     geometry: {
                         type: 'Point',
                         coordinates: start
                     },
                     properties: {
                         'marker-color': '#3bb2d0',
                         'marker-size': 'large',
                         'marker-symbol': 'rocket'
                     }
                 },
             }
         });*/
        /*  map.addLayer({
              id: 'end',
              type: 'circle',
              source: {
                  type: 'geojson',
                  data: {
                      type: 'Feature',
                      geometry: {
                          type: 'Point',
                          coordinates: end
                      }
                  }
              }
          });
      });*/
// this is where the JavaScript from the next step will go
        /*  var v = document.getElementById('cardId');
          v.style.display = "none";
          var mapa = document.getElementById('map');
          mapa.style.display = "block";
          mapa.style.width = "1000px";
          mapa.style.height= "800px";*/
    }
    /*$(document).ready(function() {
        mapboxgl.accessToken = 'pk.eyJ1IjoiYW9tZXJvdmljIiwiYSI6ImNqanBnaG1oajA0ZjUzcHFkOGNsemF0YzAifQ.I4bEhIYDrJJCQE8QNAJCMA';
        console.log("hocemo li ikad");
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center: [18.4131, 43.8563],
            zoom: 15
        });*/
    /* function blabla()
    {
        long = 0;
    }
    $('#bookBtn').on('click', function(event) {
        console.log("bla bla");
        event.preventDefault();
        console.log("bla jos malo");
        $.get("http://localhost:8081/save1", function () {
            console.log("hoces li ovdje");
                console.log("aaa");
                console.log("aa");
               // var start = [18.413076, 43.856259];
            var start = [long, lat];
                var end = [18.417228, 43.858922];
                var directionsRequest = 'https://api.mapbox.com/directions/v5/mapbox/cycling/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;
                $.ajax({
                    method: 'GET',
                    url: directionsRequest,
                }).done(function (data) {
                    var route = data.routes[0].geometry;
                    map.addLayer({
                        id: 'route',
                        type: 'line',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'Feature',
                                geometry: route
                            }
                        },
                        paint: {
                            'line-width': 2
                        }
                    });
                    map.addLayer({
                        id: 'start',
                        type: 'circle',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'Feature',
                                geometry: {
                                    type: 'Point',
                                    coordinates: start
                                }
                            }
                        }
                    });
                    map.addLayer({
                        id: 'end',
                        type: 'circle',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'Feature',
                                geometry: {
                                    type: 'Point',
                                    coordinates: end
                                }
                            }
                        }
                    });
// this is where the JavaScript from the next step will go
                });
        });
    });
*/
    // });
    /* map.on('load', function() {
         console.log("aaa");
         getRoute();
     });
   console.log("a");
   function bla(e){
       e.preventDefault();
       getRoute();
       return false;
   }
   function getRoute() {
       // var hotels = [[${hotel}]];
       console.log("aa");
       var start = [18.413076, 43.856259];
        var end = [18.417228, 43.858922];
       var directionsRequest = 'https://api.mapbox.com/directions/v5/mapbox/cycling/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;
       $.ajax({
           method: 'GET',
           url: directionsRequest,
       }).done(function(data) {
           var route = data.routes[0].geometry;
           map.addLayer({
               id: 'route',
               type: 'line',
               source: {
                   type: 'geojson',
                   data: {
                       type: 'Feature',
                       geometry: route
                   }
               },
               paint: {
                   'line-width': 2
               }
           });
           map.addLayer({
               id: 'start',
               type: 'circle',
               source: {
                   type: 'geojson',
                   data: {
                       type: 'Feature',
                       geometry: {
                           type: 'Point',
                           coordinates: start
                       }
                   }
               }
           });
           map.addLayer({
               id: 'end',
               type: 'circle',
               source: {
                   type: 'geojson',
                   data: {
                       type: 'Feature',
                       geometry: {
                           type: 'Point',
                           coordinates: end
                       }
                   }
               }
           });
// this is where the JavaScript from the next step will go
       });
   }*/
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
</script>
</body>